@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
.clientID-wrapper {
  margin-top: 100px; }
  .clientID-wrapper ::-webkit-input-placeholder {
    font-size: 15px;
    line-height: 53px;
    color: #bdbdbd;
    padding-left: 5px !important;
    font-family: 'Montserrat', sans-serif; }
  .clientID-wrapper .section-1 {
    margin: 0 auto;
    width: 620px; }
    .clientID-wrapper .section-1 input {
      width: 100%; }
    .clientID-wrapper .section-1 img {
      padding-top: 30px;
      display: block;
      margin: 0 auto; }
    .clientID-wrapper .section-1 p {
      padding: 40px 0px 40px 0px;
      font-size: 16px;
      line-height: 53px;
      color: #0197a9;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      text-align: center; }
      .clientID-wrapper .section-1 p a {
        color: #0197a9;
        text-decoration: underline; }
  @media screen and (max-width: 768px) {
    .clientID-wrapper {
      margin-top: 83px; }
      .clientID-wrapper .section-1 {
        padding: 30px;
        width: 100%; } }

h2, h3, p {
  font-family: 'Montserrat', sans-serif; }

a {
  text-decoration: underline;
  color: #0197a9; }
  a:hover {
    color: #0197a9; }

h3 {
  font-size: 24px;
  line-height: 53px;
  color: #0197a9; }

::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 53px;
  color: #bdbdbd;
  padding-left: 5px !important;
  font-family: 'Montserrat', sans-serif; }

.content-section {
  width: 50%; }

.form-section {
  width: 620px;
  margin: 0 auto; }

p {
  color: #67757c; }

p.required-text {
  color: #ef952b; }

.form-section img {
  margin-top: 40px;
  margin: 0 auto;
  display: block;
  cursor: pointer; }

label {
  font-size: 24px;
  line-height: 53px;
  color: #67757c;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center; }

input[type=submit] {
  font-family: 'Montserrat', sans-serif;
  display: block;
  width: 350px;
  background-color: #0197a9;
  color: white;
  padding: 8px 20px;
  margin: 0 auto;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
  cursor: pointer; }

input[type=text] {
  width: 100%;
  margin-bottom: 160px;
  height: 35px; }

textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus, button:focus, button:active, button:hover, label:focus, .btn:active, .btn.active {
  outline: 0px !important;
  box-shadow: none !important; }

.btn-primary {
  width: 350px;
  display: block;
  margin: 0 auto;
  background: #0197a9 !important; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #0197a9 !important; }

.timeline {
  padding-top: 52px;
  margin: 0 auto;
  display: flex; }
  .timeline ul li {
    display: inline-block;
    position: relative; }
    .timeline ul li::after {
      position: absolute;
      content: "";
      width: 129px;
      height: 2px;
      border-bottom: 2px solid #67757c;
      top: 24px;
      right: -130px; }
    .timeline ul li:last-child {
      margin-right: 0; }
      .timeline ul li:last-child::after {
        display: none; }
    .timeline ul li:nth-child(1)::after {
      border-bottom: 2px solid #0197a9; }

ul {
  display: block;
  margin: 0 auto; }
  ul li {
    border: 1px solid #67757c;
    padding: 14px 23px;
    margin-right: 125px;
    list-style-type: none;
    border-radius: 100%;
    font-family: 'Montserrat', sans-serif; }
    ul li:first-child {
      border: 1px solid #0197a9;
      padding: 14px 23px;
      margin-right: 125px;
      list-style-type: none;
      border-radius: 100%;
      font-family: 'Montserrat', sans-serif;
      margin-left: -32px; }

@media screen and (max-width: 550px) {
  .form-section {
    width: 322px;
    margin: 0 auto; } }

@media screen and (max-width: 768px) {
  input[type=text] {
    width: 100% !important;
    margin-bottom: 20px;
    margin: 0 auto;
    display: block; }
  input[type=email] {
    width: 100% !important;
    margin-bottom: 20px;
    margin: 0 auto;
    display: block; }
  .btn-primary {
    width: 260px;
    display: block;
    margin: 0 auto;
    background: #0197a9 !important; }
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
      background-color: #0197a9 !important; }
  input[type=submit] {
    font-family: 'Montserrat', sans-serif;
    display: block;
    width: 260px;
    background-color: #0197a9;
    color: white;
    padding: 8px 20px;
    margin: 0 auto;
    border: none;
    border-radius: 3px;
    margin-top: 30px;
    cursor: pointer; }
  .form-section {
    width: 680px;
    padding: 1px 30px; }
  ul li {
    padding: 8px 16px; }
    ul li:first-child {
      padding: 8px 14px; }
  .timeline ul li::after {
    position: absolute;
    content: "";
    width: 31px;
    height: 2px;
    border-bottom: 2px solid #67757c;
    top: 18px;
    right: -31px; }
  .timeline ul li:last-child::after {
    display: none; }
  .timeline ul li:nth-child(1)::after {
    border-bottom: 2px solid #0197a9; }
  ul {
    display: block;
    margin: 0 auto; }
    ul li {
      border: 1px solid #67757c;
      padding: 8px 14px;
      margin-right: 26px;
      list-style-type: none;
      border-radius: 100%;
      font-family: Montserrat; }
      ul li:first-child {
        border: 1px solid #0197a9;
        padding: 8px 16px;
        margin-right: 26px;
        list-style-type: none;
        border-radius: 100%;
        font-family: 'Montserrat', sans-serif; }
  img.branding {
    display: none; }
  img.branding-m {
    display: block; }
  label {
    font-size: 17px;
    line-height: 53px;
    font-family: 'Roboto', sans-serif;
    color: #67757c !important;
    display: initial;
    margin: 0 auto; }
  image {
    height: 160px;
    width: 39px; }
  .content-section {
    width: 100%; } }

@font-face {
  font-family: Montserrat-bold;
  src: url(assests/fonts/Montserrat/Montserrat-Bold.ttf); }

@font-face {
  font-family: Montserrat-regular;
  src: url(assests/fonts/Montserrat/Montserrat-Regular.ttf); }

@font-face {
  font-family: Montserrat-Semibold;
  src: url(assests/fonts/Montserrat/Montserrat-SemiBold.ttf); }

.clinical_Order-wrapper {
  font-family: 'Montserrat', sans-serif;
  margin-top: 45px; }
  .clinical_Order-wrapper input[type=text] {
    width: 620px;
    margin-bottom: 30px; }
  .clinical_Order-wrapper .form-section {
    width: 670px;
    margin: 0 auto; }
  .clinical_Order-wrapper .form-section a {
    display: block;
    padding-top: 33px;
    padding-bottom: 28px; }
  .clinical_Order-wrapper p.required-text {
    color: #ef952b;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 17px; }
  .clinical_Order-wrapper p.normal-text {
    font-size: 22px;
    line-height: 53px;
    color: #67757c; }
  .clinical_Order-wrapper .upload {
    padding: 20px 0px;
    margin: 0 auto; }
  .clinical_Order-wrapper .image-upload {
    display: grid; }
  .clinical_Order-wrapper .image-upload > input {
    display: none; }
  .clinical_Order-wrapper .image-upload img {
    cursor: pointer; }
  @media screen and (max-width: 600px) {
    .clinical_Order-wrapper {
      margin-top: 12px; }
      .clinical_Order-wrapper p.required-text {
        color: #ef952b;
        margin-bottom: 15px;
        font-size: 17px;
        line-height: 17px; }
      .clinical_Order-wrapper p.normal-text {
        font-size: 17px;
        line-height: 53px;
        color: #67757c; }
      .clinical_Order-wrapper image {
        height: 160px;
        width: 39px; } }

.confirm_Appointment_wrapper {
  margin-top: 50px; }
  .confirm_Appointment_wrapper input[type=email] {
    width: 100%;
    margin-bottom: 77px; }
  .confirm_Appointment_wrapper input[type=text] {
    width: 100%;
    margin-bottom: 28px; }
  .confirm_Appointment_wrapper .form-section img {
    margin-top: 50px;
    display: block;
    cursor: pointer; }
  .confirm_Appointment_wrapper .form-section a {
    display: block;
    padding-top: 20px;
    text-decoration: underline; }
    .confirm_Appointment_wrapper .form-section a hover {
      color: #0197a9; }
  .confirm_Appointment_wrapper .form-section h3 {
    font-size: 24px;
    line-height: 53px;
    color: #0197a9;
    font-family: "Roboto", sans-serif;
    font-weight: 400; }
  .confirm_Appointment_wrapper .title-section {
    width: 50%; }
    .confirm_Appointment_wrapper .title-section p {
      font-size: 18px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      color: #67757c;
      margin-bottom: 63px; }
  @media screen and (max-width: 768px) {
    .confirm_Appointment_wrapper label {
      font-size: 17px;
      line-height: 53px;
      font-family: "Roboto", sans-serif;
      color: #67757c !important;
      margin: 0 auto; }
    .confirm_Appointment_wrapper input[type=email] {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px; }
    .confirm_Appointment_wrapper input[type=text] {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px; } }

.Exam-preparation-wrapper {
  margin-top: 36px;
  font-family: 'Montserrat', sans-serif; }
  .Exam-preparation-wrapper .form-section {
    width: 620px;
    margin: 0 auto; }
    .Exam-preparation-wrapper .form-section img {
      margin-top: 30px;
      display: block; }
    .Exam-preparation-wrapper .form-section a {
      display: block;
      padding-top: 20px; }
    .Exam-preparation-wrapper .form-section h3 {
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      line-height: 53px;
      color: #67757c;
      margin-left: 18px;
      font-weight: 400; }
    .Exam-preparation-wrapper .form-section h4 {
      font-family: 'Roboto', sans-serif;
      font-size: 22px;
      line-height: 53px;
      color: #67757c;
      margin-bottom: 0px;
      font-weight: 400; }
    .Exam-preparation-wrapper .form-section p {
      font-size: 20px; }
    .Exam-preparation-wrapper .form-section .btn-primary {
      margin-bottom: 32px; }
  .Exam-preparation-wrapper .examination-section {
    padding: 10px 15px;
    border: 1px solid #67757c;
    background: #fafafa;
    border-radius: 3px;
    margin: 0px 15px 60px 15px; }
  @media screen and (max-width: 600px) {
    .Exam-preparation-wrapper .form-section h3 {
      font-size: 17px;
      line-height: 53px;
      color: #67757c;
      font-weight: 400; }
    .Exam-preparation-wrapper .form-section h4 {
      font-size: 14px;
      line-height: 53px;
      color: #67757c; }
    .Exam-preparation-wrapper .form-section p {
      font-size: 12px;
      letter-spacing: 0px;
      line-height: 16px; } }

.search-results-wrapper {
  font-family: 'Montserrat', sans-serif;
  margin-top: 27px; }
  .search-results-wrapper p {
    margin-bottom: 5px !important; }
  .search-results-wrapper .info-icon-section i {
    color: #0197a9; }
  .search-results-wrapper span {
    color: #0197a9; }
  .search-results-wrapper input[type=text] {
    width: 620px;
    margin-bottom: 28px; }
  .search-results-wrapper .btn-primary {
    width: 110px;
    height: 35px;
    background-color: #0197a9; }
  .search-results-wrapper .form-section {
    width: 620px;
    margin: 0 auto; }
    .search-results-wrapper .form-section a {
      display: block;
      padding-top: 20px;
      margin-bottom: 30px; }
  .search-results-wrapper select#sel1 {
    margin-bottom: 39px; }
  .search-results-wrapper p.required-text {
    color: #ef952b; }
  .search-results-wrapper .upload {
    padding: 20px 0px;
    margin: 0 auto; }
  .search-results-wrapper .clear-fix {
    overflow: auto; }
  .search-results-wrapper .info-wrapper {
    padding: 20px;
    margin-bottom: 73px;
    border: 1px solid #ef952b;
    background-color: #fafafa;
    overflow: auto; }
  .search-results-wrapper .info {
    overflow: auto; }
  .search-results-wrapper p.info-title {
    font-weight: 700; }
  @media screen and (max-width: 768) {
    .search-results-wrapper .info-text.float-left {
      width: 65%; } }

.ClientID-Advanced {
  font-family: 'Montserrat', sans-serif; }
  .ClientID-Advanced .timeline {
    margin-bottom: 50px; }
  .ClientID-Advanced label {
    margin-top: 20px;
    margin-bottom: -5px; }
  .ClientID-Advanced .btn-primary {
    margin-top: 36px;
    margin-bottom: 36px; }
  .ClientID-Advanced .form-section img {
    padding-top: 30px;
    margin: 0 auto;
    display: block;
    cursor: pointer; }
  .ClientID-Advanced .form-section a {
    display: block;
    padding-top: 40px; }
  @media screen and (max-width: 768px) {
    .ClientID-Advanced label {
      font-family: 'Montserrat', sans-serif !important; } }

.confirm_Appointment_FromEmail .form-section {
  width: 620px;
  margin: 0 auto;
  text-align: center; }

.confirm_Appointment_FromEmail .title-section {
  margin: 0 auto;
  display: block; }
  .confirm_Appointment_FromEmail .title-section h2 {
    font-size: 20px;
    color: #67757c;
    margin: 50px 0px; }
  .confirm_Appointment_FromEmail .title-section p {
    margin-bottom: 50px; }

.confirm_Appointment_FromEmail .btn-primary {
  width: 50%;
  height: 35px;
  border-radius: 3px;
  background-color: #0197a9; }

.confirm_Appointment_FromEmail .btn-warning {
  width: 50%;
  height: 35px;
  border-radius: 3px;
  background-color: #ef952b;
  color: #fff; }

@media screen and (max-width: 600px) {
  .confirm_Appointment_FromEmail .title-section {
    width: 260px; }
  .confirm_Appointment_FromEmail .btn-primary {
    width: 260px; }
  .confirm_Appointment_FromEmail .btn-warning {
    width: 260px; }
  .confirm_Appointment_FromEmail h2 {
    font-size: 20px;
    line-height: 20px; }
  .confirm_Appointment_FromEmail h3 {
    font-size: 17px;
    line-height: 16px; }
  .confirm_Appointment_FromEmail p {
    font-size: 12px;
    line-height: 16px; }
  .confirm_Appointment_FromEmail .form-section {
    width: 620px;
    margin: 0 auto;
    text-align: left; } }

.confirm_Appointment_FromEmaillink-Cancelled {
  color: #67757c; }
  .confirm_Appointment_FromEmaillink-Cancelled .form-section {
    width: 620px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .confirm_Appointment_FromEmaillink-Cancelled h2 {
    font-size: 22px;
    color: #67757c;
    margin: 110px 0px 102px 0px; }
  .confirm_Appointment_FromEmaillink-Cancelled a {
    color: #ef952b; }
  .confirm_Appointment_FromEmaillink-Cancelled p {
    font-size: 20px;
    line-height: 18px; }
  .confirm_Appointment_FromEmaillink-Cancelled .image {
    position: fixed;
    bottom: 15px;
    transform: translateX(26%); }
  @media screen and (max-width: 768px) {
    .confirm_Appointment_FromEmaillink-Cancelled h2 {
      font-size: 20px;
      line-height: 20px; }
    .confirm_Appointment_FromEmaillink-Cancelled p {
      font-size: 17px;
      line-height: 18px; }
    .confirm_Appointment_FromEmaillink-Cancelled .form-section {
      width: 620px;
      margin: 0 auto; }
    .confirm_Appointment_FromEmaillink-Cancelled .image {
      position: fixed;
      bottom: 15px;
      transform: translateX(19%); } }
  @media (min-width: 320px) and (max-width: 425px) {
    .confirm_Appointment_FromEmaillink-Cancelled .image {
      position: fixed;
      bottom: 15px;
      transform: translateX(22%); } }

.confirm_Appointment_FromEmaillink-Confirmed {
  color: #67757c; }
  .confirm_Appointment_FromEmaillink-Confirmed .form-section {
    width: 620px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .confirm_Appointment_FromEmaillink-Confirmed h2 {
    font-size: 22px;
    color: #67757c;
    margin: 100px 0px 100px 0px; }
  .confirm_Appointment_FromEmaillink-Confirmed a {
    color: #ef952b; }
  .confirm_Appointment_FromEmaillink-Confirmed p {
    font-size: 20px;
    line-height: 18px; }
  @media screen and (max-width: 600px) {
    .confirm_Appointment_FromEmaillink-Confirmed h2 {
      font-size: 20px;
      line-height: 20px; }
    .confirm_Appointment_FromEmaillink-Confirmed p {
      font-size: 17px;
      line-height: 18px; }
    .confirm_Appointment_FromEmaillink-Confirmed .form-section {
      width: 620px;
      margin: 0 auto; } }

.clinical-order-Message {
  margin-top: 50px; }
  .clinical-order-Message .section-1 {
    margin: 0 auto;
    width: 620px; }
    .clinical-order-Message .section-1 img {
      padding-top: 30px;
      display: block;
      margin: 0 auto; }
    .clinical-order-Message .section-1 p.Identification {
      padding: 40px 0px 0px 0px;
      font-size: 16px;
      line-height: 53px;
      color: #0197a9;
      font-family: Montserrat;
      font-weight: 700;
      text-align: center; }
      .clinical-order-Message .section-1 p.Identification a {
        color: #0197a9;
        text-decoration: underline; }
  .clinical-order-Message p.details {
    font-size: 17px;
    line-height: 17px;
    color: #67757c;
    text-align: center; }
  .clinical-order-Message p.contact-text {
    font-size: 17px;
    line-height: 17px;
    color: #ef952b;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center; }

.search-resultswrapper {
  font-family: 'Montserrat', sans-serif;
  margin-top: 27px; }
  .search-resultswrapper .info-icon-section i {
    color: #0197a9; }
  .search-resultswrapper span {
    color: #0197a9; }
  .search-resultswrapper input[type=text] {
    width: 620px;
    margin-bottom: 28px; }
  .search-resultswrapper .btn-primary {
    width: 110px;
    height: 35px;
    background-color: #0197a9; }
  .search-resultswrapper .form-section {
    width: 620px;
    margin: 0 auto; }
    .search-resultswrapper .form-section a {
      display: block;
      padding-top: 20px;
      margin-bottom: 30px; }
  .search-resultswrapper select#sel1 {
    margin-bottom: 39px; }
  .search-resultswrapper p.required-text {
    color: #ef952b; }
  .search-resultswrapper .upload {
    padding: 20px 0px;
    margin: 0 auto; }
  .search-resultswrapper .clear-fix {
    overflow: auto; }
  .search-resultswrapper .info-wrapper {
    padding: 20px;
    margin-bottom: 73px;
    border: 1px solid #ef952b;
    background-color: #fafafa;
    overflow: auto; }
  .search-resultswrapper .info {
    overflow: auto; }
  .search-resultswrapper p.info-title {
    font-weight: 700; }
  .search-resultswrapper .available-appointment span {
    display: block;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 17px;
    font-weight: 700; }
  .search-resultswrapper .available-appointment {
    margin-top: 48px;
    margin-bottom: 15px; }
  .search-resultswrapper button {
    width: 44px;
    height: 20px;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 16px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; }
  @media screen and (max-width: 768) {
    .search-resultswrapper .info-text {
      width: 65%; } }

.Area-select {
  font-family: 'Montserrat', sans-serif; }
  .Area-select .timeline {
    margin-bottom: 50px; }
  .Area-select input.checked-1[type=checkbox],
  .Area-select input.checked-1[type=radio] {
    height: 20px;
    width: 21px;
    background: #232322; }
  .Area-select p {
    font-size: 24px;
    line-height: 45px;
    color: #67757c;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
    margin-top: 29px; }
  .Area-select label {
    margin-top: 20px;
    margin-bottom: -5px; }
  .Area-select .btn-primary {
    margin-top: 128px;
    margin-bottom: 36px; }
  .Area-select .form-section img {
    padding-top: 23px;
    margin: 0 auto;
    display: block;
    cursor: pointer; }
  .Area-select .form-section a {
    display: block;
    padding-top: 20px; }
  .Area-select .checkboxes label {
    white-space: nowrap;
    margin-top: 0px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif; }
  .Area-select .checkboxes input {
    vertical-align: middle; }
  .Area-select .checkboxes label span {
    vertical-align: middle; }
  @media screen and (max-width: 768px) {
    .Area-select label {
      font-family: 'Montserrat', sans-serif !important;
      margin: 0 !important; } }

.AreaSelect-Other-Insurer {
  font-family: 'Montserrat', sans-serif; }
  .AreaSelect-Other-Insurer .timeline {
    margin-bottom: 50px; }
  .AreaSelect-Other-Insurer input.checked-1[type=checkbox],
  .AreaSelect-Other-Insurer input.checked-1[type=radio] {
    height: 20px;
    width: 21px;
    background: #232322; }
  .AreaSelect-Other-Insurer p {
    font-size: 24px;
    line-height: 45px;
    color: #67757c;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
    margin-top: 29px; }
  .AreaSelect-Other-Insurer label {
    margin-top: 20px;
    margin-bottom: -5px; }
  .AreaSelect-Other-Insurer .btn-primary {
    margin-top: 128px;
    margin-bottom: 36px; }
  .AreaSelect-Other-Insurer .form-section img {
    padding-top: 23px;
    margin: 0 auto;
    display: block;
    cursor: pointer; }
  .AreaSelect-Other-Insurer .form-section a {
    display: block;
    padding-top: 20px; }
  .AreaSelect-Other-Insurer .checkboxes label {
    white-space: nowrap;
    margin-top: 0px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif; }
  .AreaSelect-Other-Insurer .checkboxes input {
    vertical-align: middle; }
  .AreaSelect-Other-Insurer .checkboxes label span {
    vertical-align: middle; }
  @media screen and (max-width: 768px) {
    .AreaSelect-Other-Insurer label {
      font-family: 'Montserrat', sans-serif !important;
      margin: 0 !important; } }
