.clinical-order-Message {
  margin-top: 50px;

  .btn-primary {
    width: 350px;
    margin-top: 113px !important;
    margin-bottom: 41px !important;
    display: block;
    margin: 0 auto;
    background: #0197a9 !important;
}

  .section-1 {
    margin: 0 auto;
    width: 620px;

    img {
      padding-top: 30px;
      display: block;
      margin: 0 auto;
    }
    p.Identification {
      padding: 40px 0px 0px 0px;
      font-size: 16px;
      line-height: 53px;
      color: $bluecolor;
      font-family: Montserrat;
      font-weight: 700;
      text-align: center;

      a {
        color: $bluecolor;
        text-decoration: underline;
        margin: 0 auto;
        margin-bottom: 23px;
      }
    }
  }

  p.details {
    font-size: 17px;
    line-height: 17px;
    color: $greycolor;
    text-align: center;
  }
  p.contact-text {
    font-size: 17px;
    line-height: 17px;
    color: $orangecolor;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    .section-1 {
      margin: 0 auto;
      width: 320px;
      padding: 1px 15px;
    }
    .btn-primary {
      width: 260px;
      display: block;
    margin: 0 auto;
  }
  }
}
