.clientID-wrapper{
    margin-top: 100px;

::-webkit-input-placeholder { 
    font-size: 15px;
    line-height: 53px;
    color: #bdbdbd;
	padding-left: 5px !important;
	font-family: 'Montserrat', sans-serif;
  }

.form-section1{
    margin: 0 auto;
    width: 620px;
   
    input{
        width:100%;
    }
    input[type="submit"] {
        font-family: "Montserrat", sans-serif;
        display: block;
        width: 350px;
    }
    img{
        padding-top: 0px;
        display: block;
        margin: 0 auto;
    }
        p{
            padding:40px 0px 40px 0px;
            font-size: 16px;
            line-height: 53px;
            color: $bluecolor;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            text-align: center;

            a{
                font-family: 'Montserrat', sans-serif;
                color: $bluecolor;
                text-decoration: underline;
                display: block;
                margin-top: 62px;
                margin-bottom: 0px;
            }
    }
}

@media screen and (max-width: 768px) {
    margin-top: 83px;

    .form-section1{
        padding:30px;
        width: 100%;
    }
    input[type="submit"] {
        font-family: "Montserrat", sans-serif;
        display: block;
        width: 260px;
    }

}


}