
.clinical_Order-wrapper{

	font-family: 'Montserrat', sans-serif;
	margin-top: 35px;

input[type=text] {
	width: 620px;
	margin-bottom: 30px;
}
.btn-primary {
	width: 70%;
	display: block;
    margin: 0 auto;
    background-color: $bluecolor;
}
.form-section {
	width: 620px;
	margin: 0 auto;
}

.form-section img {
    margin-top: 40px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.form-section a{
    display: block;
    padding-top: 20px;
}
.timeline {
	padding: 20px 0px 8px 0px;
    display: flex;
}

ul li {
	border: 1px solid #adadad;
	padding: 14px 23px;
	margin-right: 20px;
	list-style-type: none;
	border-radius: 100%;
	font-family: 'Montserrat', sans-serif;;
}

.timeline ul li {
	display: inline-block;
	position: relative;
}
.timeline ul li::after {
	position: absolute;
	content: "";
	width: 25px;
	height: 2px;
	border-bottom: 2px solid #adadad;
	top: 24px;
	right: -26px;
}
.timeline ul li:last-child::after {
	display: none;
}
ul {
	display: block;
	margin: 0 auto;
}
ul li:first-child {
	border: 1px solid $bluecolor;
	padding: 14px 23px;
	margin-right: 20px;
	list-style-type: none;
	border-radius: 100%;
	font-family: 'Montserrat', sans-serif;;
}
.timeline ul li:nth-child(1)::after {
	border-bottom: 2px solid $bluecolor;
}
p.required-text{
    color:$orangecolor;
}
.upload{
    padding: 20px 0px;
    margin:0 auto;
}
.image-upload{
	display: grid;
}
.image-upload > input
{
    display: none;
}

.image-upload img
{
    cursor: pointer;
}

}