.confirm_Appointment_wrapper{

	margin-top: 50px;


input[type=email] {
	width: 100%;
	margin-bottom: 77px;
}
input[type=text] {
	width: 100%;
	margin-bottom: 28px;
}
.form-section {
	img {
		margin-top: 50px;
		display: block;
		cursor: pointer;
	}
	a {
		display: block;
		padding-top: 20px;
		text-decoration: underline;
		& hover{
			color: $bluecolor;
		}
	}
	h3 {
		font-size: 24px;
		line-height: 53px;
		color: $bluecolor;
		font-family: "Roboto", sans-serif;
		font-weight: 400;
	}
}

.title-section {
	width: 50%;

	p{
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: $greycolor;
	margin-bottom: 63px;
	}
}

	@media screen and (max-width:768px) {

		label {
			font-size: 17px;
			line-height: 53px;
			font-family: "Roboto", sans-serif;
			color: #67757c !important;
			margin: 0 auto;
		  }
		  input[type=email] {
			width: 100%;
			margin-left:0px;
			margin-right:0px;
		}
		input[type=text] {
			width: 100%;
			margin-left:0px;
			margin-right:0px;
		}
			
	}

	@media screen and (max-width:425px) {
		
	}

}