.confirm_Appointment_FromEmaillink-Cancelled{
   color: $greycolor;

    .form-section {
       width: 620px;
       height: 80vh;
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
      }

      h2 {
        font-size: 22px;
        color: $greycolor;
        margin: 110px 0px 102px 0px;
      }
      a{
          color: $orangecolor;
      }
      p{
        font-size: 20px;
        line-height: 18px;   
    }
    .image{
      position: fixed;
      bottom: 15px;
      margin: 0 auto;
      width: 100%;
      transform: translateX(-35%);
    }

      @media screen and (max-width:600px) {
        h2{
            font-size: 20px;
            line-height: 20px;
        }
        p{
            font-size: 17px;
            line-height: 18px;   
        }
    
        .form-section {
            width: 620px;
            margin: 0 auto;
        }
        img.img-fluid {
          transform: translate(39%);
      }
     }
}