.confirm_Appointment_wrapper{

	margin-top: 35px;

input[type=text] {
	width: 620px;
	margin-bottom: 30px;
}
.btn-primary {
	width: 70%;
	display: block;
	margin: 0 auto;
	background-color: $bluecolor;
}
.form-section {
	width: 620px;
	margin: 0 auto;
	img {
		margin-top: 50px;
		display: block;
		cursor: pointer;
	}
	a {
		display: block;
		padding-top: 20px;
		text-decoration: underline;
		& hover{
			color: $bluecolor;
		}
	}
	h3 {
		font-size: 24px;
		line-height: 53px;
		color: $bluecolor;
	}
}
.timeline {
	padding: 20px 0px 8px 0px;
	display: flex;
	ul {
		li {
			display: inline-block;
			position: relative;
			&::after {
				position: absolute;
				content: "";
				width: 25px;
				height: 2px;
				border-bottom: 2px solid #adadad;
				top: 24px;
				right: -26px;
			}
			&:last-child {
				&::after {
					display: none;
				}
			}
			&:nth-child(1) {
				&::after {
					border-bottom: 2px solid $bluecolor;
				}
			}
		}
	}
}
ul {
	li {
		border: 1px solid #adadad;
		padding: 14px 23px;
		margin-right: 20px;
		list-style-type: none;
		border-radius: 100%;
		font-family: 'Montserrat', sans-serif;
		&:first-child {
			border: 1px solid $bluecolor;
			padding: 14px 23px;
			margin-right: 20px;
			list-style-type: none;
			border-radius: 100%;
			font-family: 'Montserrat', sans-serif;
		}
	}
	display: block;
	margin: 0 auto;
}
.title-section {
	width: 50%;
}

	@media screen and (max-width:768px) {
		.title-section {
			width: 100%;
			padding-left: 30px;
		}
		
		label {
			font-size: 17px;
			line-height: 53px;
			font-family: "Roboto", sans-serif;
			color: #67757c !important;
			margin: 0 auto;
		  }
	}

}