
.Exam-preparation-wrapper{
	margin-top: 35px;
	font-family: 'Montserrat', sans-serif;
	
.btn-primary {
	width: 70%;
	display: block;
	margin: 0 auto;
	background-color: #0197a9;
}
.form-section {
	width: 620px;
	margin: 0 auto;
	img {
		margin-top: 30px;
		display: block;
	}
	a {
		display: block;
		padding-top: 20px;
	}
	h3 {
		font-size: 24px;
		line-height: 53px;
		color: #67757c;
		margin-left: 18px;
	}
	h4{
		font-size: 17px;
		line-height: 53px;
		color: #67757c;
		margin-bottom: 0px;
	}
}

.examination-section {
	padding: 10px 15px;
	border: 1px solid #67757c;
	background: #fafafa;
	border-radius: 3px;
	margin: 0px 15px 20px 15px;
}
@media screen and (max-width: 600px) {
	.form-section{
		h3 {
			font-size: 17px;
			line-height: 53px;
			color: #67757c;
			margin-left: 18px;
			margin-bottom: 0px;
			font-weight: 400;
		}
	}
h4{
	font-size: 14px;
	line-height: 53px;
	color: #67757c;
}

}

}