.search-results-wrapper{

	font-family: 'Montserrat', sans-serif;
	margin-top: 27px;

p {
	margin-bottom: 5px !important;
}
.info-icon-section {
	i {
		color: $bluecolor;
	}
}
span {
	color: $bluecolor;
}
input[type=text] {
	width: 620px;
	margin-bottom: 28px;
}
.btn-primary {
	width: 110px;
	height: 35px;
	background-color: $bluecolor;
}
.form-section {
	width: 620px;
	margin: 0 auto;
	a {
		display: block;
		padding-top: 20px;
		margin-bottom: 30px;
	}
}
select#sel1 {
    margin-bottom: 39px;
}

p.required-text {
	color: $orangecolor;
}
.upload {
	padding: 20px 0px;
	margin: 0 auto;
}
.clear-fix {
	overflow: auto;
}
.info-wrapper {
	padding: 20px;
	margin-bottom: 73px;
	border: 1px solid $orangecolor;
	background-color: #fafafa;
	overflow: auto;
}
.info {
	overflow: auto;
}
p.info-title {
	font-weight: 700;
}

@media screen and (max-width:768) {
	.info-text.float-left {
		width: 65%;
	}
}

}